/* font google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root {
    --main-color: #ff7b00ea;
    --second-color: #ffe0c3ea;
    --title-color: #ebebeb;
    --subtitle-color: #8d8d8d;
}
::selection {
    color: #fff;
    background-color: var(--main-color);
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--second-color);
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 10px;
}
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    height: 1000px;
    overflow-x: hidden;
    position: relative;
    background: #001323;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
